@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-clr: #09031f;
    --secondary-clr: #f71d25;
    --white-clr: #ffffff;
}

.asterik {
    color: var(--secondary-clr);
}
.error-message {
    /* border: 1px solid red; */
    color: var(--secondary-clr);
    font-size: 12px;
    margin-top: -20px;
}

.our_mentors_bg {
  background: url("../public/assets/images/main_element.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------------
---------------------------------
------ CONTACT PAGE -------------
---------------------------------
--------------------------------- */

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_form form {
  background-color: var(--e-gray);
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contact_form form label {
  width: 100%;
  font-size: 15px;
  color: var(--primary-clr);
}

.contact_form form input {
  width: 100%;
  border-bottom: 2px solid var(--primary-clr);
  outline: none;
  margin-bottom: 20px;
  padding: 6px 18px;
}

.contact_form form input::placeholder {
  font-size: 13px;
}

.contact_form form select {
    width: 100%;
    border-bottom: 2px solid var(--primary-clr);
    outline: none;
    margin-bottom: 20px;
    padding: 6px 18px;
}

.contact_form form textarea {
  width: 100%;
  height: 100px;
    border-bottom: 2px solid var(--primary-clr);
  outline: none;
  margin-bottom: 20px;
  padding: 6px 18px;
}

.contact_form form textarea::placeholder {
  font-size: 13px;
}

.contact_form form button {
  background-color: var(--primary-clr);
  border: 2px solid var(--primary-clr);
  color: var(--white-clr);
  margin-top: 20px;
  padding: 8px 0;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  transition: 0.6s all;
}

.contact_form form button:hover {
  background-color: var(--white-clr);
  color: var(--primary-clr);
}