@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #09031f;
  --secondary-clr: #f71d25;
  --white-clr: #ffffff;
}

.asterik {
  color: var(--secondary-clr);
}
.error-message {
  /* border: 1px solid red; */
  color: var(--secondary-clr);
  font-size: 12px;
  margin-top: -20px;
}

.navbar_megamenu_boxshadow {
  -webkit-box-shadow: -1px -8px 21px -4px rgba(245,30,30,0.31);
  -moz-box-shadow: -1px -8px 21px -4px rgba(245,30,30,0.31);
  box-shadow: -1px -8px 21px -4px rgba(245,30,30,0.31);
}

/* Spinner.css */
.spinner {
  width: 40px; /* Size of the spinner */
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top-color: #f71d25; /* Color of the spinner */
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite; /* Spin animation */
  margin: 0 auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* --------- navbar css for specific width --------------------- */
@media(min-width: 1024px) and (max-width: 1300px) {
  .responsive_css_logo {
    width: 150px;
  }
  .responsive_css_ul {
    margin-left: 20px;
  }
  .responsive_css {
    font-size: 12px;
  }
  .responsive_css_buttonDiv a {
    padding: 5px !important;
  }
  .responsive_css_buttonDiv a span {
    display: none;
  }
} 

/* ------------------------ ipad hersosection --------------- */
@media(min-width: 1024px) and (max-width: 1280px) {
  .ipad_responsive {
    font-size: 32px;
  }
  .ipad_responsive_heroPara {
    padding-right: 20px !important;
  }
  .ipad_homeAboutIMG {
    width: 350px;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
}



.our_mentors_bg {
  background: url("../public/assets/images/main_element.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mentorsIMG {
  position: relative; /* Needed to establish stacking context */
  transition: transform 0.7s ease; /* Smooth scaling effect */
  z-index: 1; /* Default z-index */
}

.mentorsIMG:hover {
  transform: scale(1.2) !important;
  z-index: 0; /* Send the image behind */
}

.mentorsDESC {
  position: relative;
  z-index: 2; /* Ensures it is above the image */
}

.whatappButton {
  z-index: 999;
}

/* ---------------------------------
---------------------------------
------ HERSECTCION STARTS -------------
---------------------------------
--------------------------------- */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 3s ease-out;
}

@keyframes revealText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.letter {
  display: inline-block;
  animation: revealText 0.5s ease forwards;
  opacity: 0;
}

.letter-appear {
  animation-delay: 0s;
}

.letter-appear-1 {
  animation-delay: 0.05s;
}

.letter-appear-2 {
  animation-delay: 0.1s;
}

.letter-appear-3 {
  animation-delay: 0.15s;
}

/* Add more delays as necessary */
@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.shining-border {
  position: relative;
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px; /* Adjust padding for space between text and border */
  overflow: hidden; /* Prevents overflow of the animation */
}

.shining-border::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 255, 0, 0.5),
    transparent
  );
  animation: shine 2s linear infinite; /* Adjust duration and smoothness */
}

/* ---------------------------------
---------------------------------
------ HERSECTCION Ends -------------
---------------------------------
--------------------------------- */

/* ---------------------------------
---------------------------------
------ CONTACT PAGE -------------
---------------------------------
--------------------------------- */

.contactFormStyle {
  background-image: url(/assets/images/contact_bg.png);
  background-size: cover;
  background-position: center center;
  /* border: 1px solid blue; */
  /* padding: 100px 130px; */

  display: flex;
  justify-content: end;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_form form {
  background-color: var(--e-gray);
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contact_form label {
  /* border: 1px solid red; */
  width: 100%;
  font-size: 15px;
  color: var(--primary-clr);
}

.contact_form form input {
  width: 100%;
  background-color: #ebebeb;
  /* border-bottom: 2px solid var(--primary-clr); */
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.contact_form form input::placeholder {
  font-size: 13px;
}

.contact_form form select {
  width: 100%;
  background-color: #ebebeb;
  /* border-bottom: 2px solid var(--primary-clr); */
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.contact_form form textarea {
  width: 100%;
  background-color: #ebebeb;
  height: 100px;
  border-radius: 10px;
  /* border-bottom: 2px solid var(--primary-clr); */
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.contact_form form textarea::placeholder {
  font-size: 13px;
}

.contact_form form button {
  background-color: var(--primary-clr);
  border: 2px solid var(--primary-clr);
  color: var(--white-clr);
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 30px;
  outline: none;
  text-transform: uppercase;
  transition: 0.6s all;
}

.contact_form form button:hover {
  background-color: var(--white-clr);
  color: var(--primary-clr);
}





/* ---------------------------------
---------------------------------
------ LOGIN PAGE -------------
---------------------------------
--------------------------------- */
.login_page_bg {
  /* border: 1px solid red; */
  padding: 20px 0;
  background-image: url('/assets/images/contact_bg.png');
  background-position: center center;
  background-size: cover;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form form {
  background-color: var(--e-gray);
  display: flex;
  flex-direction: column;

  width: 100%;
}

.login_form label {
  /* border: 1px solid red; */
  width: 100%;
  font-size: 15px;
  color: var(--primary-clr);
}

.login_form form input {
  width: 100%;
  background-color: #ebebeb;
  /* border-bottom: 2px solid var(--primary-clr); */
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.login_form form input::placeholder {
  font-size: 13px;
}

.login_form form select {
  width: 100%;
  background-color: #ebebeb;
  /* border-bottom: 2px solid var(--primary-clr); */
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.login_form form textarea {
  width: 100%;
  background-color: #ebebeb;
  height: 100px;
  border-radius: 10px;
  /* border-bottom: 2px solid var(--primary-clr); */
  outline: none;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.login_form form textarea::placeholder {
  font-size: 13px;
}

.login_form form button {
  background-color: var(--primary-clr);
  border: 2px solid var(--primary-clr);
  color: var(--white-clr);
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 30px;
  outline: none;
  text-transform: uppercase;
  transition: 0.6s all;
}

.login_form form button:hover {
  background-color: var(--white-clr);
  color: var(--primary-clr);
}

/* ---------------------------------
---------------------------------
------ BLOG PAGE -------------
---------------------------------
--------------------------------- */
.blog_content p {
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: rgb(69, 69, 69);
}

.blog_content a {
  color: black;
  font-size: 20px;
}
.blog_content a:hover {
  text-decoration: underline;
  color: #555;
}

.blog_content h1 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 36px;
}
.blog_content h2 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 30px;
}
.blog_content h3 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 24px;
}
.blog_content h4 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 20px;
}

.blog_content h5 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
.blog_content h6 {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.blog_content ul {
  margin-left: 20px;
}

.blog_content ol {
  margin-left: 20px;
}

.blog_content ul li {
  list-style: disc;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: rgb(69, 69, 69);
}

.blog_content ol li {
  list-style: disc;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: rgb(69, 69, 69);
}

.blog_content img {
  border-radius: 4px;
  width: 100%;
}

.blog_content iframe {
  margin-top: 10px;
  border-radius: 4px;
  width: 325px;
}

/* ---------------------------------
---------------------------------
------ OFFER BANNER  -------------
---------------------------------
--------------------------------- */
.swiper-button-prev {
  left: -30px !important;
  transition: all 0.5s;
}
.swiper-button-next {
  right: -30px !important;
  transition: all 0.5s;
}
.swiper-button-prev::after {
  background-color: var(--primary-clr);
  color: var(--white-clr) !important;
  font-size: 16px !important;
  padding: 10px 12px !important;
  left: -10px !important;
}
.swiper-button-next::after {
  background-color: var(--primary-clr);
  color: var(--white-clr) !important;
  font-size: 16px !important;
  padding: 10px 12px !important;
}

.offerBannerWrapper:hover .swiper-button-prev {
  left: 30px !important;
}

.offerBannerWrapper:hover .swiper-button-next {
  right: 30px !important;
}

/* 

.shine-box {
  position: relative;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, transparent 0%, transparent 50%, transparent 100%);
  border-image-slice: 1;
  transition: border-image 0.5s ease-in-out;
}

.shine-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-size: 200% 100%;
  background-position: -100% 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
  transition: background-position 1.5s ease;
}

.shine-box:hover::before {
  background-position: 100% 0; 
} */

/* .shine-box {
  position: relative;
  border: 2px solid transparent; 
  border-radius: 16px;
}

.shine-box::before {
  content: "";
  position: absolute;
  top: -2px; 
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 1;
  border-radius: inherit; 
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  background-position: -100% 0;
  pointer-events: none;
  transition: background-position 1.5s ease;
}

.shine-box:hover::before {
  background-position: 100% 0; 
} */

/* ----------------------------------------------- */
/* Main Box and Glow Border */
.animated-border-box {
  /* max-height: 200px; */
  /* max-width: 250px; */
  /* height: 100%; */
  /* width: 100%; */
  /* position: absolute; */
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Glow Element with Blur * {
  overflow: hidden;
  filter: blur(20px);
}

/* The animation is applied only on hover now */
.animated-border-box:hover::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #f71d25,
    rgba(0, 0, 0, 0) 25%
  );
  animation: rotate 4s linear infinite;
}

/* Inside Box Styling */
.animated-border-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: var(--primary-clr);
  border-radius: 10px;
}

/* Rotation Animation */
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/* Hover Effect Ends */

/* Main Box and Glow Border */
.animated-border-box-white {
  /* max-height: 200px; */
  /* max-width: 250px; */
  /* height: 100%; */
  /* width: 100%; */
  /* position: absolute; */
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Glow Element with Blur * {
  overflow: hidden;
  filter: blur(20px);
}

/* The animation is applied only on hover now */
.animated-border-box-white:hover::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #f71d25,
    rgba(0, 0, 0, 0) 25%
  );
  animation: rotate 4s linear infinite;
}

/* Inside Box Styling */
.animated-border-box-white::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: var(--white-clr);
  border-radius: 40px;
}

/* Rotation Animation */
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/* Hover Effect Ends */

/* ---------------------------------
---------------------------------
------ LATEST NEWS  -------------
---------------------------------
--------------------------------- */
.latestNewCards .swiper-slide figure {
  /* border: 1px solid red; */
  border-radius: 25px;
}





/* ---------------------------------
---------------------------------
------ All BLOGS PAGE   -------------
---------------------------------
--------------------------------- */

:root {
  --step--1: clamp(0.75rem, 0.7503rem + -0.0003vw, 0.7502rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.333rem, 1.2097rem + 0.6165vw, 1.6875rem);
  --step-2: clamp(1.7769rem, 1.5145rem + 1.3119vw, 2.5313rem);

  --1: oklch(100% 0.006 95);
  --2: oklch(90% 0.006 95);
  --3: oklch(60% 0.006 95);
  --4: oklch(25% 0.006 95);
  --5: oklch(16% 0.006 95);

  --shadow-color: 48deg 8% 20%;
  --shadow-elevation-low: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.39),
    0px 1px 1.2px -1.9px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-medium: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36),
    0px 1.3px 1.6px -0.9px hsl(var(--shadow-color) / 0.44),
    0.1px 4.8px 5.8px -1.9px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-high: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.4),
    0px 2.7px 3.3px -0.5px hsl(var(--shadow-color) / 0.45),
    0.1px 5.9px 7.2px -0.9px hsl(var(--shadow-color) / 0.51),
    0.2px 12.2px 14.8px -1.4px hsl(var(--shadow-color) / 0.56),
    0.3px 23.7px 28.8px -1.9px hsl(var(--shadow-color) / 0.61);

  --shelf: url("/assets/book_shelf.png"),
    linear-gradient(
      0deg,
      rgba(72, 70, 58, 1) 0%,
      rgba(82, 80, 78, 1) 25%,
      rgba(62, 60, 58, 1) 100%
    );
  /* --back: url("https://img.freepik.com/free-photo/frame-wall_1048-1771.jpg?t=st=1728892702~exp=1728896302~hmac=460ddb4b19d76f14e0f9289315de4cfea166b3958ffb7fbba2e32fc26da8bf6e&w=1060"), */
  --back: url("/assets/wooden2.png"),
    linear-gradient(
      0deg,
      rgba(72, 70, 68, 1) 0%,
      rgba(112, 110, 108, 1) 25%,
      rgba(112, 110, 108, 1) 75%,
      rgba(52, 50, 48, 1) 100%
    );
}


.bookcase img,
.bookcase picture,
.bookcase video,
.bookcase canvas,
.bookcase svg {
  display: block;
  max-width: 100%;
}

.bookcase {
  /* border: 1px solid red; */
  margin-top: 20px;

  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: 24px solid #fff9f7;
  border-bottom: 0px;
  padding: 0px 0px;
  max-width: 100%;
}

.bookcase .bookwrap {
  height: clamp(350px, 40vh, 500px);
  width: clamp(200px, 20vw, 300px);
  border-bottom: 24px solid #fff9f7;
  background-image: var(--back);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  perspective: 800px;
  perspective-origin: left center;
}

.bookcase .bookwrap::after {
  content: "";
  height: 48px;
  width: 100%;
  background-image: var(--shelf);
}

.bookcase .book {
  width: 150px;
  min-height: 150px;
  background: var(--5);
  position: relative;
  bottom: -24px;
  margin: 0px;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.2s ease-in-out;
}
.bookcase .book {
  width: 200px; /* Set a consistent width */
  height: 250px; /* Define a consistent height for all books */
  background: var(--5);
  position: relative;
  /* bottom: 16px; */
  margin: 0px;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.2s ease-in-out;
}

.bookcase .book:hover {
  box-shadow: var(--shadow-elevation-high);
  transform: rotateX(0deg) rotateY(-20deg) scale(1.08);
  transform-style: preserve-3d;
}

.bookcase .book img {
  height: 100%; /* Ensure the image fills the book height */
  width: 100%; /* Ensure the image fills the book width */
  /* object-fit: cover; Crop images to fit uniformly within the book */
  border: 1px solid var(--5);
}